In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
eda= 'The Global Dataset 14 Apr 2020.csv'
eda_df = pd.read_csv(eda)
eda_df.columns

C:\Users\best buy 177\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,55,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['By using this data you agree to the Terms of Use: https://www.ctdatacollaborative.org/terms-use',
       'yearOfRegistration', 'Datasource', 'gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship', 'meansOfControlDebtBondage',
       'meansOfControlTakesEarnings', 'meansOfControlRestrictsFinancialAccess',
       'meansOfControlThreats', 'meansOfControlPsychologicalAbuse',
       'meansOfControlPhysicalAbuse', 'meansOfControlSexualAbuse',
       'meansOfControlFalsePromises', 'meansOfControlPsychoactiveSubstances',
       'meansOfControlRestrictsMovement', 'meansOfControlRestrictsMedicalCare',
       'meansOfControlExcessiveWorkingHours', 'meansOfControlUsesChildren',
       'meansOfControlThreatOfLawEnforcement',
       'meansOfControlWithholdsNecessities',
       'meansOfControlWithholdsDocuments', 'meansOfControlOther',
       'meansOfControlNotSpecified', 'meansOfControlConcatenated',
       'isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'isSlaveryAndPractices', 'typeOfExploitConcatenated',
       'typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified', 'typeOfLabourConcatenated',
       'typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices',
       'typeOfSexConcatenated', 'isAbduction', 'RecruiterRelationship',
       'CountryOfExploitation', 'recruiterRelationIntimatePartner',
       'recruiterRelationFriend', 'recruiterRelationFamily',
       'recruiterRelationOther', 'recruiterRelationUnknown'],
      dtype='object')

In [3]:

# Categorize by type of control per table above
control_means_list = []
for row in eda_df.iterrows():
# iterrows isn't the best solution for a larger dataset
# but it works reasonably well here with the size of our dataset
    # Categorize by arbitrary grouping of 'Financial'
    if str(row[1]["meansOfControlDebtBondage"]) == "1" or str(row[1]["meansOfControlTakesEarnings"]) == "1" or str(row[1]["meansOfControlRestrictsFinancialAccess"]) == "1":
        control_means_list.append('Financial')
    # Categorize by arbitrary grouping of 'Threats'
    elif str(row[1]["meansOfControlThreats"]) == "1" or str(row[1]["meansOfControlPsychologicalAbuse"]) == "1" or str(row[1]["meansOfControlFalsePromises"]) == "1" or str(row[1]["meansOfControlUsesChildren"]) == "1" or str(row[1]["meansOfControlThreatOfLawEnforcement"]) == "1":
        control_means_list.append('Threats')
    # Categorize by arbitrary grouping of 'Survival'
    elif str(row[1]["meansOfControlRestrictsMedicalCare"]) == "1" or str(row[1]["meansOfControlWithholdsNecessities"]) == "1" or str(row[1]["meansOfControlWithholdsDocuments"]) == "1":
        control_means_list.append('Survival')
    # Categorize by arbitrary grouping of 'Physical'
    elif str(row[1]["meansOfControlPhysicalAbuse"]) == "1" or str(row[1]["meansOfControlSexualAbuse"]) == "1" or str(row[1]["meansOfControlRestrictsMovement"]) == "1" or str(row[1]["meansOfControlExcessiveWorkingHours"]) == "1":
        control_means_list.append('Physical')
    # Categorize by arbitrary grouping of 'Other'
    elif str(row[1]["meansOfControlNotSpecified"]) == "1" or str(row[1]["meansOfControlPsychoactiveSubstances"]) == "1" or str(row[1]["meansOfControlOther"]) == "1":
        control_means_list.append('Other')
    # Insert null value if none of the criteria above are met...
    else:
        # print("None")
        control_means_list.append(np.nan)

# Add a column with our arbitrary category groupings back to the main DataFrame
eda_df["ControlCategory"] = control_means_list
eda_df["ControlCategory"].value_counts()

Other        27384
Threats       4384
Financial     3250
Physical      1749
Survival       220
Name: ControlCategory, dtype: int64

In [4]:
# Duplicate DataFrame and drop columns that we no longer need...
eda1_df = eda_df
eda1_df.drop(["meansOfControlDebtBondage", "meansOfControlTakesEarnings", "meansOfControlRestrictsFinancialAccess"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlThreats", "meansOfControlPsychologicalAbuse", "meansOfControlFalsePromises", "meansOfControlUsesChildren", "meansOfControlThreatOfLawEnforcement"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlRestrictsMedicalCare", "meansOfControlWithholdsNecessities", "meansOfControlWithholdsDocuments"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlPhysicalAbuse", "meansOfControlSexualAbuse", "meansOfControlRestrictsMovement", "meansOfControlExcessiveWorkingHours"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlNotSpecified", "meansOfControlPsychoactiveSubstances", "meansOfControlOther"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlConcatenated"], axis=1, inplace=True)
eda1_df

,By using this data you agree to the Terms of Use: https://www.ctdatacollaborative.org/terms-use,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,...,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown,ControlCategory
0,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,0,0,0,0,1,Other
1,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,0,0,0,0,1,Other
2,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,0,0,0,0,1,Other
3,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,0,0,0,0,1,Other
4,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,0,0,0,0,1,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48796,NaN,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other
48797,NaN,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other
48798,NaN,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other
48799,NaN,2019,Case Management,Female,-99,-99,Minor,-99,UG,0,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other
48800,NaN,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,...,-99,0,-99,UG,-99,-99,-99,-99,-99,Other

In [5]:
# Re-categorize RecruiterRelationship
relation_categories = []
for row in eda1_df.iterrows():
    if row[1]["RecruiterRelationship"] == "Not Specified":
        relation_categories.append('Not Specified')
    elif row[1]["RecruiterRelationship"] == "Not Specified; Other" or row[1]["RecruiterRelationship"] == "Other":
        relation_categories.append('Other')
    elif row[1]["RecruiterRelationship"] == "Friend/Acquaintance" or \
        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified; Other" or \
            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Not Specified" or \
                    row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Other" or \
                        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner" or \
                            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Other":
        relation_categories.append('Friend/Acquaintance')
    elif row[1]["RecruiterRelationship"] == "Family/Relative" or \
        row[1]["RecruiterRelationship"] == "Family/Relative; Other" or \
            row[1]["RecruiterRelationship"] == "Family/Relative; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner" or \
                    row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance" or \
                        row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance; Other" or \
                            row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner; Other":
        relation_categories.append('Family/Relative')
    elif row[1]["RecruiterRelationship"] == "Intimate Partner" or \
        row[1]["RecruiterRelationship"] == "Intimate Partner; Other" or \
            row[1]["RecruiterRelationship"] == "Intimate Partner; Not Specified":
        relation_categories.append('Intimate Partner')
    else:
        relation_categories.append(np.nan)

# Add our revised category listing to our DataFrame
eda1_df["RecruiterCategory"] = relation_categories
eda1_df["RecruiterCategory"].value_counts()

Not Specified          8730
Other                  3883
Friend/Acquaintance    2078
Family/Relative        1879
Intimate Partner       1550
Name: RecruiterCategory, dtype: int64

In [6]:

# Duplicate DataFrame and drop unnecessary recruiter columns
eda2_df = eda1_df
eda2_df.drop(["RecruiterRelationship", "recruiterRelationIntimatePartner", "recruiterRelationFriend", "recruiterRelationFamily", "recruiterRelationOther", "recruiterRelationUnknown"], axis=1, inplace=True)
eda2_df

,By using this data you agree to the Terms of Use: https://www.ctdatacollaborative.org/terms-use,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,...,typeOfLabourConcatenated,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,ControlCategory,RecruiterCategory
0,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
1,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
2,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
3,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
4,NaN,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48796,NaN,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,...,-99,0,0,0,-99,-99,0,UG,Other,NaN
48797,NaN,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,...,-99,0,0,0,-99,-99,0,UG,Other,NaN
48798,NaN,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,...,-99,0,0,0,-99,-99,0,UG,Other,NaN
48799,NaN,2019,Case Management,Female,-99,-99,Minor,-99,UG,0,...,-99,0,0,0,-99,-99,0,UG,Other,NaN
48800,NaN,2019,Case Management,Female,-99,-99,Adult,-99,UG,0,...,-99,0,0,0,-99,-99,0,UG,Other,NaN

In [7]:
# Re-categorize typeOfExploitConcatenated
exploit_categories = []
for row in eda2_df.iterrows():
    if str(row[1]["typeOfExploitConcatenated"]) == "Sexual exploitation":
        exploit_categories.append('Sexual Exploitation')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced labour":
        exploit_categories.append('Forced Labor')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Other":
        exploit_categories.append('Other')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Slavery and similar practices":
        exploit_categories.append('Slavery and Similar')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced marriage":
        exploit_categories.append('Forced Marriage')
    elif str(row[1]["typeOfExploitConcatenated"]) == "-99":
        exploit_categories.append(np.nan)
    else:
        exploit_categories.append("Other")

# Add re-categorized data to DataFrame
eda2_df["ExploitType"] = exploit_categories

In [9]:
# Duplicate our DataFrame
eda3_df = eda2_df

# Drop columns
eda3_df.drop(["typeOfExploitConcatenated", \
                         "isSexualExploit", \
                         "isOtherExploit", \
                         "isSexAndLabour", \
                         "isForcedMarriage", \
                         "isForcedMilitary", \
                         "isOrganRemoval", \
                         "isSlaveryAndPractices"], axis=1, inplace=True)
eda3_df.ExploitType.value_counts()

Sexual Exploitation    15989
Forced Labor            8969
Other                   7142
Slavery and Similar      359
Forced Marriage          168
Name: ExploitType, dtype: int64

In [22]:
exploit_type_df = pd.DataFrame(eda3_df.ExploitType.value_counts())
exploit_type_df

                     ExploitType
Sexual Exploitation        15989
Forced Labor                8969
Other                       7142
Slavery and Similar          359
Forced Marriage              168

In [27]:
df1 = exploit_type_df.reset_index()
df1.columns

Index(['index', 'ExploitType'], dtype='object')

In [28]:
df1.rename(columns={'index':'Exploit type'}, inplace=True)
df1

          Exploit type  ExploitType
0  Sexual Exploitation        15989
1         Forced Labor         8969
2                Other         7142
3  Slavery and Similar          359
4      Forced Marriage          168

In [29]:
df1.rename(columns={'ExploitType': 'cases'}, inplace=True)
df1

          Exploit type  cases
0  Sexual Exploitation  15989
1         Forced Labor   8969
2                Other   7142
3  Slavery and Similar    359
4      Forced Marriage    168

In [30]:
df1.to_csv('exploit_type.csv', index=False)