In [1]:
# Dependencies
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import conn

In [2]:
# Create engine with connection string
engine = create_engine(conn)

# Get saved WEO unemployment data and convert to DataFrame
unemployment_df = pd.read_csv("https://raw.githubusercontent.com/gh-mrmoore/AnalyticsFinalProject/MattMoore/Data/WEO_Unemployment.csv")
unemployment_df

,ISO,WEO Subject Code,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AFG,LUR,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALB,LUR,Albania,15.751,15.000,14.400,14.100,13.800,13.400,13.100,13.800,14.000,14.000,13.400,15.900,17.5,17.100,15.200,13.700,12.300
2,DZA,LUR,Algeria,25.664,23.716,17.656,15.265,12.512,13.793,11.343,10.167,9.961,9.971,10.969,9.829,10.6,11.214,10.498,11.709,11.731
3,AGO,LUR,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ATG,LUR,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,VNM,LUR,Vietnam,6.010,5.780,5.600,5.310,4.820,4.640,2.380,2.900,2.880,2.220,1.960,2.180,2.1,2.330,2.300,2.240,2.190
191,WBG,LUR,West Bank and Gaza,31.200,25.500,26.800,23.500,23.700,21.700,26.600,24.500,23.700,20.900,23.000,23.400,26.9,25.900,26.900,25.450,26.250
192,YEM,LUR,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,ZMB,LUR,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,ZWE,LUR,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Export DataFrame to PostgreSQL table
unemployment_df.to_sql('WEO_Unemployment', con=engine, if_exists='append', index=False)

In [11]:
# Get saved WEO GDP data and convert to DataFrame
gdp_df = pd.read_csv("https://raw.githubusercontent.com/gh-mrmoore/AnalyticsFinalProject/MattMoore/Data/WEO_GDP.csv")
gdp_df

,ISO,WEO Subject Code,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AFG,NGDPDPC,Afghanistan,233.433,233.755,254.259,294.396,320.674,381.502,447.746,511.374,631.490,714.70,784.611,754.402,747.622,711.337,616.234,636.693,582.323
1,ALB,NGDPDPC,Albania,1425.130,1846.120,2373.580,2673.770,2972.750,3595.050,4370.560,4114.090,4097.830,4439.89,4248.910,4415.600,4584.920,3953.610,4124.410,4542.760,5284.440
2,DZA,NGDPDPC,Algeria,1806.860,2128.390,2636.310,3141.030,3508.960,3986.560,4943.500,3886.060,4480.720,5453.89,5575.650,5477.060,5466.330,4153.320,3918.940,4079.650,4118.740
3,AGO,NGDPDPC,Angola,841.420,951.969,1222.040,1862.420,2561.860,3099.090,4081.690,3146.800,3641.440,4716.25,5245.020,5436.520,5625.740,4354.920,3676.830,4303.690,3620.590
4,ATG,NGDPDPC,Antigua and Barbuda,10482.010,10892.400,11581.320,12736.240,14262.100,15992.740,16510.080,14612.900,13564.680,13295.36,13811.080,13392.220,13951.990,14696.890,15556.010,15655.230,16860.960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,VNM,NGDPDPC,Vietnam,546.555,610.357,756.981,873.136,996.255,1152.300,1446.770,1481.810,1628.520,1950.46,2197.610,2370.090,2566.910,2582.390,2720.190,2957.930,3211.460
191,WBG,NGDPDPC,West Bank and Gaza,1102.500,1197.160,1350.910,1461.090,1480.700,1563.700,1913.320,2061.560,2406.260,2711.92,2888.600,3122.990,3158.600,3084.130,3325.850,3407.310,3353.230
192,YEM,NGDPDPC,Yemen,560.031,597.771,682.148,797.704,881.648,971.326,1171.170,1060.930,1266.790,1302.30,1367.720,1515.950,1574.250,1500.690,1061.840,891.888,762.136
193,ZMB,NGDPDPC,Zambia,376.468,429.010,530.540,691.554,1030.690,1103.690,1365.930,1135.010,1456.050,1635.17,1724.630,1839.330,1726.650,1310.460,1254.120,1500.960,1480.420
194,ZWE,NGDPDPC,Zimbabwe,922.878,822.472,806.898,764.632,677.881,646.558,553.376,790.352,975.851,1131.84,1310.370,1421.550,1415.030,1425.010,1409.450,1516.280,1440.590

In [12]:
# Export DataFrame to PostgreSQL table
gdp_df.to_sql('WEO_GDP', con=engine, if_exists='append', index=False)

In [3]:
# Convert poverty rate dataset to DataFrame
poverty_df = pd.read_csv("https://raw.githubusercontent.com/gh-mrmoore/AnalyticsFinalProject/MattMoore/Data/WorldBank_Poverty.csv")
poverty_df

,Country Code,Indicator Code,Country Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ABW,SI.POV.NAHC,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFE,SI.POV.NAHC,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,SI.POV.NAHC,Afghanistan,NaN,NaN,NaN,NaN,NaN,33.7,NaN,NaN,NaN,38.3,NaN,NaN,NaN,NaN,54.5,NaN,NaN
3,AFW,SI.POV.NAHC,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,SI.POV.NAHC,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,XKX,SI.POV.NAHC,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9,17.6,21.1,17.6,NaN,NaN,NaN
262,YEM,SI.POV.NAHC,"Yemen, Rep.",NaN,NaN,NaN,34.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.6,NaN,NaN,NaN,NaN
263,ZAF,SI.POV.NAHC,South Africa,NaN,NaN,NaN,66.6,NaN,NaN,62.1,NaN,53.2,NaN,NaN,NaN,55.5,NaN,NaN,NaN,NaN
264,ZMB,SI.POV.NAHC,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.7,NaN,NaN,NaN,NaN,54.4,NaN,NaN,NaN
265,ZWE,SI.POV.NAHC,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.5,NaN,NaN,NaN,NaN,NaN,30.4,NaN

In [4]:
# Export DataFrame to PostgreSQL table
poverty_df.to_sql('WorldBank_Poverty', con=engine, if_exists='append', index=False)

In [15]:
# Convert world population dataset to DataFrame
popn_df = pd.read_csv("https://raw.githubusercontent.com/gh-mrmoore/AnalyticsFinalProject/MattMoore/Data/WEO_Population.csv")
popn_df

,ISO,WEO Subject Code,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AFG,LP,Afghanistan,18.707,19.477,20.237,20.947,21.596,22.426,22.997,23.596,24.269,25.031,25.864,26.736,27.601,28.425,29.200,29.700,31.600
1,ALB,LP,Albania,3.051,3.040,3.027,3.011,2.993,2.970,2.947,2.928,2.913,2.905,2.900,2.895,2.889,2.881,2.876,2.873,2.866
2,DZA,LP,Algeria,31.414,31.885,32.366,32.855,33.351,33.858,34.591,35.268,35.978,36.717,37.495,38.297,39.114,39.963,40.836,41.721,42.578
3,AGO,LP,Angola,18.166,18.711,19.273,19.851,20.446,21.060,21.692,22.342,23.013,23.703,24.414,25.147,25.901,26.681,27.503,28.377,29.250
4,ATG,LP,Antigua and Barbuda,0.078,0.079,0.079,0.080,0.081,0.082,0.083,0.084,0.085,0.086,0.087,0.088,0.090,0.091,0.092,0.094,0.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,VNM,LP,Vietnam,81.534,82.302,83.063,83.833,84.618,85.420,86.243,87.092,87.968,87.860,88.809,89.760,90.729,91.713,92.695,93.672,94.666
191,WBG,LP,West Bank and Gaza,3.225,3.315,3.407,3.508,3.612,3.719,3.821,3.922,4.023,4.125,4.226,4.328,4.429,4.530,4.632,4.733,4.854
192,YEM,LP,Yemen,19.094,19.702,20.329,20.975,21.622,22.290,22.978,23.687,24.398,25.130,25.884,26.660,27.460,28.284,29.132,29.977,30.816
193,ZMB,LP,Zambia,11.140,11.426,11.726,12.044,12.382,12.739,13.115,13.508,13.917,14.344,14.787,15.246,15.721,16.212,16.717,17.238,17.773
194,ZWE,LP,Zimbabwe,11.632,11.640,11.730,11.830,12.010,12.040,12.120,12.230,12.340,12.459,13.061,13.430,13.778,14.009,14.228,14.437,14.642

In [16]:
# Export DataFrame to PostgreSQL table
popn_df.to_sql('WEO_Population', con=engine, if_exists='append', index=False)

In [18]:
# Convert ISO country codes and UN country codes to DataFrame
countries_df = pd.read_csv("https://raw.githubusercontent.com/gh-mrmoore/AnalyticsFinalProject/MattMoore/Data/countries2.csv")
countries_df

                  country_name country_iso2 country_iso3 country_un_code
0                  Afghanistan           AF          AFG               4
1                Aland Islands           AX          ALA             248
2                      Albania           AL          ALB               8
3                      Algeria           DZ          DZA              12
4               American Samoa           AS          ASM              16
..                         ...          ...          ...             ...
242  Wallis and Futuna Islands           WF          WLF             876
243             Western Sahara           EH          ESH             732
244                      Yemen           YE          YEM             887
245                     Zambia           ZM          ZMB             894
246                   Zimbabwe           ZW          ZWE             716

[247 rows x 4 columns]

In [19]:
# Export country DataFrame to database
countries_df.to_sql('Country_Codes', con=engine, if_exists='append', index=False)