In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Import Polaris dataset downloaded...
eda_df = pd.read_csv(os.path.join("Potential_Data", "global_dataset_14_Apr_2020.csv"), header=0)
eda_df.head()

C:\Users\mrm\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (54) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1

# Feature Engineering

## Means of Control
### Table 1: Means of Control Groupings
| Grouped Category | Data Category | Data Code |
| ----- | ----- | ----- |
| Financial | meansOfControlDebtBondage  | 1 |
| Financial | meansOfControlTakesEarnings | 1 |
| Financial | meansOfControlRestrictsFinancialAccess | 1 |
| Threats | meansOfControlThreats | 2 |
| Threats | meansOfControlPsychologicalAbuse | 2 |
| Threats | meansOfControlFalsePromises | 2 |
| Threats | meansOfControlUsesChildren | 2 |
| Threats | meansOfControlThreatOfLawEnforcement | 2 |
| Survival | meansOfControlRestrictsMedicalCare | 3 |
| Survival | meansOfControlWithholdsNecessities | 3 |
| Survival | meansOfControlWithholdsDocuments | 3 |
| Physical | meansOfControlPhysicalAbuse | 4 |
| Physical | meansOfControlSexualAbuse | 4 |
| Physical | meansOfControlRestrictsMovement | 4 |
| Physical | meansOfControlExcessiveWorkingHours | 4 |
| Other | meansOfControlOther | 5 |
| Other | meansOfControlNotSpecified | 5 |
| Other | meansOfControlPsychoactiveSubstances | 5 |

In [3]:
# Categorize by type of control per table above
control_means_list = []
for row in eda_df.iterrows():
# for row in eda_subset_df.iterrows():
    # Categorize by arbitrary grouping of 'Financial'
    if str(row[1]["meansOfControlDebtBondage"]) == "1" or str(row[1]["meansOfControlTakesEarnings"]) == "1" or str(row[1]["meansOfControlRestrictsFinancialAccess"]) == "1":
        control_means_list.append("Financial")
    # Categorize by arbitrary grouping of 'Threats'
    elif str(row[1]["meansOfControlThreats"]) == "1" or str(row[1]["meansOfControlPsychologicalAbuse"]) == "1" or str(row[1]["meansOfControlFalsePromises"]) == "1" or str(row[1]["meansOfControlUsesChildren"]) == "1" or str(row[1]["meansOfControlThreatOfLawEnforcement"]) == "1":
        control_means_list.append("Threats")
    # Categorize by arbitrary grouping of 'Survival'
    elif str(row[1]["meansOfControlRestrictsMedicalCare"]) == "1" or str(row[1]["meansOfControlWithholdsNecessities"]) == "1" or str(row[1]["meansOfControlWithholdsDocuments"]) == "1":
        control_means_list.append("Survival")
    # Categorize by arbitrary grouping of 'Physical'
    elif str(row[1]["meansOfControlPhysicalAbuse"]) == "1" or str(row[1]["meansOfControlSexualAbuse"]) == "1" or str(row[1]["meansOfControlRestrictsMovement"]) == "1" or str(row[1]["meansOfControlExcessiveWorkingHours"]) == "1":
        control_means_list.append("Physical")
    # Categorize by arbitrary grouping of 'Other'
    elif str(row[1]["meansOfControlNotSpecified"]) == "1" or str(row[1]["meansOfControlPsychoactiveSubstances"]) == "1" or str(row[1]["meansOfControlOther"]) == "1":
        control_means_list.append("Other")
    # Insert null value if none of the criteria above are met...
    else:
        # print("None")
        control_means_list.append(np.nan)

In [4]:
# Add a column with our arbitrary category groupings back to the main DataFrame
eda_df["control_category"] = control_means_list
eda_df["control_category"].value_counts()

Other        27384
Threats       4384
Financial     3250
Physical      1749
Survival       220
Name: control_category, dtype: int64

In [5]:
# Duplicate DataFrame and drop columns that we no longer need...
control_categorized_eda_df = eda_df
control_categorized_eda_df.drop(["meansOfControlDebtBondage", "meansOfControlTakesEarnings", "meansOfControlRestrictsFinancialAccess"], axis=1, inplace=True)
control_categorized_eda_df.drop(["meansOfControlThreats", "meansOfControlPsychologicalAbuse", "meansOfControlFalsePromises", "meansOfControlUsesChildren", "meansOfControlThreatOfLawEnforcement"], axis=1, inplace=True)
control_categorized_eda_df.drop(["meansOfControlRestrictsMedicalCare", "meansOfControlWithholdsNecessities", "meansOfControlWithholdsDocuments"], axis=1, inplace=True)
control_categorized_eda_df.drop(["meansOfControlPhysicalAbuse", "meansOfControlSexualAbuse", "meansOfControlRestrictsMovement", "meansOfControlExcessiveWorkingHours"], axis=1, inplace=True)
control_categorized_eda_df.drop(["meansOfControlNotSpecified", "meansOfControlPsychoactiveSubstances", "meansOfControlOther"], axis=1, inplace=True)
control_categorized_eda_df.drop(["meansOfControlConcatenated"], axis=1, inplace=True)
control_categorized_eda_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,isSexualExploit,...,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown,control_category
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other

## Recruiter Relationship

### Table 2: Recruiter Relationships Categorized
| Original Group | Categorized Group |
| ----- | ----- |
| Not Specified | Not Specified |
| Other | Other |
| Not Specified; Other | Other |
| Friend/Acquaintance | Friend/Acquaintance |
| Friend/Acquaintance; Not Specified; Other | Friend/Acquaintance |
| Friend/Acquaintance; Not Specified | Friend/Acquaintance |
| Friend/Acquaintance; Intimate Partner; Not Specified | Friend/Acquaintance |
| Friend/Acquaintance; Other | Friend/Acquaintance |
| Friend/Acquaintance; Intimate Partner | Friend/Acquaintance |
| Friend/Acquaintance; Intimate Partner; Other | Friend/Acquaintance |
| Family/Relative | Family/Relative |
| Family/Relative; Other | Family/Relative |
| Family/Relative; Not Specified | Family/Relative |
| Family/Relative; Intimate Partner | Family/Relative |
| Family/Relative; Friend/Acquaintance | Family/Relative |
| Family/Relative; Friend/Acquaintance; Other | Family/Relative |
| Family/Relative; Intimate Partner; Other | Family/Relative |
| Intimate Partner; Other | Intimate Partner |
| Intimate Partner; Not Specified | Intimate Partner |
| Intimate Partner | Intimate Partner |

In [6]:
# Re-categorize RecruiterRelationship
relation_categories = []
for row in control_categorized_eda_df.iterrows():
    if row[1]["RecruiterRelationship"] == "Not Specified; Other" or row[1]["RecruiterRelationship"] == "Other":
        relation_categories.append("Other")
    elif row[1]["RecruiterRelationship"] == "Friend/Acquaintance" or \
        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified; Other" or \
            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Not Specified" or \
                    row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Other" or \
                        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner" or \
                            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Other":
        relation_categories.append("Friend/Acquaintance")
    elif row[1]["RecruiterRelationship"] == "Family/Relative" or \
        row[1]["RecruiterRelationship"] == "Family/Relative; Other" or \
            row[1]["RecruiterRelationship"] == "Family/Relative; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner" or \
                    row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance" or \
                        row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance; Other" or \
                            row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner; Other":
        relation_categories.append("Family/Relative")
    elif row[1]["RecruiterRelationship"] == "Intimate Partner" or \
        row[1]["RecruiterRelationship"] == "Intimate Partner; Other" or \
            row[1]["RecruiterRelationship"] == "Intimate Partner; Not Specified":
        relation_categories.append("Intimate Partner")
    else:
        relation_categories.append(np.nan)

In [7]:
# Add our revised category listing to our DataFrame
control_categorized_eda_df["RecruiterCategory"] = relation_categories
control_categorized_eda_df["RecruiterCategory"].value_counts()

Other                  3883
Friend/Acquaintance    2078
Family/Relative        1879
Intimate Partner       1550
Name: RecruiterCategory, dtype: int64

In [8]:
# Duplicate DataFrame and drop unnecessary recruiter columns
recruiter_control_categorized_eda_df = control_categorized_eda_df
recruiter_control_categorized_eda_df.drop(["RecruiterRelationship", "recruiterRelationIntimatePartner", "recruiterRelationFriend", "recruiterRelationFamily", "recruiterRelationOther", "recruiterRelationUnknown"], axis=1, inplace=True)
recruiter_control_categorized_eda_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,isSexualExploit,...,typeOfLabourConcatenated,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,control_category,RecruiterCategory
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN

In [9]:
# Re-categorize typeOfExploitConcatenated
exploit_categories = []
for row in recruiter_control_categorized_eda_df.iterrows():
    if str(row[1]["typeOfExploitConcatenated"]) == "Sexual exploitation":
        exploit_categories.append("Sexual")
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced labour":
        exploit_categories.append("Labor")
    elif str(row[1]["typeOfExploitConcatenated"]) == "Other":
        exploit_categories.append("Other")
    elif str(row[1]["typeOfExploitConcatenated"]) == "Slavery and similar practices":
        exploit_categories.append("Slavery/Similar")
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced marriage":
        exploit_categories.append("Forced Marriage")
    elif str(row[1]["typeOfExploitConcatenated"]) == "-99":
        exploit_categories.append(np.nan)
    else:
        exploit_categories.append("Multiple")

In [10]:
# Add re-categorized data to DataFrame
recruiter_control_categorized_eda_df["ExploitType"] = exploit_categories

# Duplicate our database
exploit_recruiter_control_categorized_eda_df = recruiter_control_categorized_eda_df

# Drop columns
exploit_recruiter_control_categorized_eda_df.drop(["typeOfExploitConcatenated", \
                         "isSexualExploit", \
                         "isOtherExploit", \
                         "isSexAndLabour", \
                         "isForcedMarriage", \
                         "isForcedMilitary", \
                         "isOrganRemoval", \
                         "isSlaveryAndPractices"], axis=1, inplace=True)
print(exploit_recruiter_control_categorized_eda_df.shape)
exploit_recruiter_control_categorized_eda_df.head()

(48801, 33)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,typeOfLabourAgriculture,...,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,control_category,RecruiterCategory,ExploitType
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual

In [11]:
exploit_recruiter_control_categorized_eda_df["isForcedLabour"].value_counts()

-99    22699
 0     16330
 1      9772
Name: isForcedLabour, dtype: int64

In [12]:
exploit_recruiter_control_categorized_eda_df.replace({-99: np.nan}, inplace=True)
exploit_recruiter_control_categorized_eda_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,typeOfLabourAgriculture,...,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,control_category,RecruiterCategory,ExploitType
0,2002.0,Case Management,Female,18--20,Adult,-99,-99,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-99,Other,NaN,Sexual
1,2002.0,Case Management,Female,18--20,Adult,-99,-99,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-99,Other,NaN,Sexual
2,2002.0,Case Management,Female,18--20,Adult,-99,-99,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-99,Other,NaN,Sexual
3,2002.0,Case Management,Female,18--20,Adult,-99,-99,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-99,Other,NaN,Sexual
4,2002.0,Case Management,Female,18--20,Adult,-99,-99,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-99,Other,NaN,Sexual

In [13]:
exploit_recruiter_control_categorized_eda_df.replace({"-99": np.nan}, inplace=True)
exploit_recruiter_control_categorized_eda_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,typeOfLabourAgriculture,...,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,control_category,RecruiterCategory,ExploitType
0,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,Sexual
1,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,Sexual
2,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,Sexual
3,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,Sexual
4,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,Sexual

In [14]:
exploit_recruiter_control_categorized_eda_df['citizenship'].value_counts()

PH    11365
0      8858
UA     7761
MD     5901
US     3636
KH     1979
ID     1971
BY     1463
MM     1250
RO      655
GH      544
KG      437
BG      342
HT      339
UZ      261
VN      170
GW      145
LA      126
CO      124
NG      108
UG       98
AF       97
MG       94
LK       85
SL       81
SN       70
TH       55
KZ       54
CD       53
ML       45
TJ       43
BF       33
KE       32
NE       31
CI       31
NP       27
TM       26
CN       23
AL       22
MX       19
BO       18
GN       15
ER       13
KR       12
BD       11
Name: citizenship, dtype: int64

In [15]:
exploit_recruiter_control_categorized_eda_df.replace({'citizenship': {'0': np.nan}}, inplace=True)
exploit_recruiter_control_categorized_eda_df['citizenship'].value_counts()

PH    11365
UA     7761
MD     5901
US     3636
KH     1979
ID     1971
BY     1463
MM     1250
RO      655
GH      544
KG      437
BG      342
HT      339
UZ      261
VN      170
GW      145
LA      126
CO      124
NG      108
UG       98
AF       97
MG       94
LK       85
SL       81
SN       70
TH       55
KZ       54
CD       53
ML       45
TJ       43
BF       33
KE       32
CI       31
NE       31
NP       27
TM       26
CN       23
AL       22
MX       19
BO       18
GN       15
ER       13
KR       12
BD       11
Name: citizenship, dtype: int64

In [16]:
exploit_recruiter_control_categorized_eda_df.isnull().sum()

yearOfRegistration                        0
Datasource                                0
gender                                    0
ageBroad                              12362
majorityStatus                        12362
majorityStatusAtExploit               39511
majorityEntry                         42310
citizenship                            9136
isForcedLabour                        22699
typeOfLabourAgriculture               28329
typeOfLabourAquafarming               28368
typeOfLabourBegging                   28381
typeOfLabourConstruction              28001
typeOfLabourDomesticWork              26250
typeOfLabourHospitality               27120
typeOfLabourIllicitActivities         28459
typeOfLabourManufacturing             28256
typeOfLabourMiningOrDrilling          28381
typeOfLabourPeddling                  28459
typeOfLabourTransportation            28381
typeOfLabourOther                     27117
typeOfLabourNotSpecified              27179
typeOfLabourConcatenated              42552
typeOfSexProstitution                 30343
typeOfSexPornography                  42357
typeOfSexRemoteInteractiveServices    42357
typeOfSexPrivateSexualServices        43586
typeOfSexConcatenated                 44212
isAbduction                           32430
CountryOfExploitation                 10175
control_category                      11814
RecruiterCategory                     39411
ExploitType                           16174
dtype: int64

In [17]:
exploit_recruiter_control_categorized_eda_df.drop(["majorityStatus", "majorityStatusAtExploit", "majorityEntry", \
                    "typeOfSexProstitution", "typeOfSexPornography", "typeOfSexRemoteInteractiveServices", \
                        "typeOfSexPrivateSexualServices", "typeOfSexConcatenated", "isAbduction", "CountryOfExploitation"], axis=1, inplace=True)

In [18]:
exploit_recruiter_control_categorized_eda_df.isnull().sum()

yearOfRegistration                   0
Datasource                           0
gender                               0
ageBroad                         12362
citizenship                       9136
isForcedLabour                   22699
typeOfLabourAgriculture          28329
typeOfLabourAquafarming          28368
typeOfLabourBegging              28381
typeOfLabourConstruction         28001
typeOfLabourDomesticWork         26250
typeOfLabourHospitality          27120
typeOfLabourIllicitActivities    28459
typeOfLabourManufacturing        28256
typeOfLabourMiningOrDrilling     28381
typeOfLabourPeddling             28459
typeOfLabourTransportation       28381
typeOfLabourOther                27117
typeOfLabourNotSpecified         27179
typeOfLabourConcatenated         42552
control_category                 11814
RecruiterCategory                39411
ExploitType                      16174
dtype: int64

In [20]:
# Unite the 'typeOf' columns to a single column
labor_types = []
for row in exploit_recruiter_control_categorized_eda_df.iterrows():
    if row[1]["typeOfLabourAgriculture"] == 1:
        labor_types.append("Agriculture")
    elif row[1]["typeOfLabourAquafarming"] == 1:
        labor_types.append("Aquafarming")
    elif row[1]["typeOfLabourBegging"] == 1:
        labor_types.append("Begging")
    elif row[1]["typeOfLabourConstruction"] == 1:
        labor_types.append("Construction")
    elif row[1]["typeOfLabourDomesticWork"] == 1:
        labor_types.append("Domestic Work")
    elif row[1]["typeOfLabourHospitality"] == 1:
        labor_types.append("Hospitality")
    elif row[1]["typeOfLabourIllicitActivities"] == 1:
        labor_types.append("Illicit Activities")
    elif row[1]["typeOfLabourManufacturing"] == 1:
        labor_types.append("Manufacturing")
    elif row[1]["typeOfLabourMiningOrDrilling"] == 1:
        labor_types.append("Mining or Drilling")
    elif row[1]["typeOfLabourPeddling"] == 1:
        labor_types.append("Peddling")
    elif row[1]["typeOfLabourTransportation"] == 1:
        labor_types.append("Transportation")
    elif row[1]["typeOfLabourOther"] == 1 or row[1]["typeOfLabourNotSpecified"] == 1:
        labor_types.append("Other")
    else:
        labor_types.append(np.nan)

In [21]:
# Add labor categories to our DataFrame
exploit_recruiter_control_categorized_eda_df["Labor_Type"] = labor_types
exploit_recruiter_control_categorized_eda_df["Labor_Type"].value_counts()

Domestic Work    2744
Construction     1254
Other            1236
Manufacturing     453
Agriculture       152
Begging           149
Aquafarming       107
Hospitality        82
Peddling           72
Name: Labor_Type, dtype: int64

In [22]:
# Copy DataFrame
final_df = exploit_recruiter_control_categorized_eda_df

# Drop columns we won't need any longer
final_df.drop(["typeOfLabourAgriculture", "typeOfLabourAquafarming", \
              "typeOfLabourBegging", "typeOfLabourConstruction", \
              "typeOfLabourDomesticWork", "typeOfLabourHospitality", \
              "typeOfLabourIllicitActivities", "typeOfLabourManufacturing", \
              "typeOfLabourMiningOrDrilling", "typeOfLabourPeddling", \
              "typeOfLabourTransportation", "typeOfLabourOther", \
              "typeOfLabourNotSpecified", "typeOfLabourConcatenated"], axis=1, inplace=True)

final_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,citizenship,isForcedLabour,control_category,RecruiterCategory,ExploitType,Labor_Type
0,2002.0,Case Management,Female,18--20,CO,0.0,Other,NaN,Sexual,NaN
1,2002.0,Case Management,Female,18--20,CO,0.0,Other,NaN,Sexual,NaN
2,2002.0,Case Management,Female,18--20,CO,0.0,Other,NaN,Sexual,NaN
3,2002.0,Case Management,Female,18--20,CO,0.0,Other,NaN,Sexual,NaN
4,2002.0,Case Management,Female,18--20,CO,0.0,Other,NaN,Sexual,NaN

In [23]:
final_df.shape

(48801, 10)

In [24]:
final_df.isnull().sum()

yearOfRegistration        0
Datasource                0
gender                    0
ageBroad              12362
citizenship            9136
isForcedLabour        22699
control_category      11814
RecruiterCategory     39411
ExploitType           16174
Labor_Type            42552
dtype: int64

In [25]:
clear_df = final_df.dropna()

In [26]:
clear_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,citizenship,isForcedLabour,control_category,RecruiterCategory,ExploitType,Labor_Type
9840,2012.0,Case Management,Female,30--38,LK,1.0,Threats,Other,Labor,Domestic Work
9842,2012.0,Case Management,Female,30--38,LK,1.0,Financial,Other,Labor,Domestic Work
9843,2012.0,Case Management,Female,30--38,LK,1.0,Threats,Other,Labor,Domestic Work
9844,2012.0,Case Management,Female,30--38,LK,1.0,Financial,Other,Labor,Domestic Work
9845,2012.0,Case Management,Female,30--38,LK,1.0,Financial,Other,Labor,Domestic Work

In [27]:
clear_df.shape

(1574, 10)

In [28]:
final_df.to_csv(os.path.join("Exports", "final.csv"))
clear_df.to_csv(os.path.join("Exports", "clear.csv"))