In [82]:
import os
import pandas as pd
import numpy as np

In [83]:
# Import Polaris dataset downloaded...
eda_df = pd.read_csv(os.path.join("../Potential_Data", "global_dataset_14_Apr_2020.csv"), header=0)
eda_df.head()

C:\Users\mrm\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (54) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1

# Feature Engineering

## Means of Control
### Table 1: Means of Control Groupings
| Grouped Category | Data Category | Data Code |
| ----- | ----- | ----- |
| Financial | meansOfControlDebtBondage  | 1 |
| Financial | meansOfControlTakesEarnings | 1 |
| Financial | meansOfControlRestrictsFinancialAccess | 1 |
| Threats | meansOfControlThreats | 2 |
| Threats | meansOfControlPsychologicalAbuse | 2 |
| Threats | meansOfControlFalsePromises | 2 |
| Threats | meansOfControlUsesChildren | 2 |
| Threats | meansOfControlThreatOfLawEnforcement | 2 |
| Survival | meansOfControlRestrictsMedicalCare | 3 |
| Survival | meansOfControlWithholdsNecessities | 3 |
| Survival | meansOfControlWithholdsDocuments | 3 |
| Physical | meansOfControlPhysicalAbuse | 4 |
| Physical | meansOfControlSexualAbuse | 4 |
| Physical | meansOfControlRestrictsMovement | 4 |
| Physical | meansOfControlExcessiveWorkingHours | 4 |
| Other | meansOfControlOther | 5 |
| Other | meansOfControlNotSpecified | 5 |
| Other | meansOfControlPsychoactiveSubstances | 5 |

In [84]:
# Categorize by type of control per table above
control_means_list = []
for row in eda_df.iterrows():
# for row in eda_subset_df.iterrows():
    # Categorize by arbitrary grouping of 'Financial'
    if str(row[1]["meansOfControlDebtBondage"]) == "1" or str(row[1]["meansOfControlTakesEarnings"]) == "1" or str(row[1]["meansOfControlRestrictsFinancialAccess"]) == "1":
        control_means_list.append('Financial')
    # Categorize by arbitrary grouping of 'Threats'
    elif str(row[1]["meansOfControlThreats"]) == "1" or str(row[1]["meansOfControlPsychologicalAbuse"]) == "1" or str(row[1]["meansOfControlFalsePromises"]) == "1" or str(row[1]["meansOfControlUsesChildren"]) == "1" or str(row[1]["meansOfControlThreatOfLawEnforcement"]) == "1":
        control_means_list.append('Threats')
    # Categorize by arbitrary grouping of 'Survival'
    elif str(row[1]["meansOfControlRestrictsMedicalCare"]) == "1" or str(row[1]["meansOfControlWithholdsNecessities"]) == "1" or str(row[1]["meansOfControlWithholdsDocuments"]) == "1":
        control_means_list.append('Survival')
    # Categorize by arbitrary grouping of 'Physical'
    elif str(row[1]["meansOfControlPhysicalAbuse"]) == "1" or str(row[1]["meansOfControlSexualAbuse"]) == "1" or str(row[1]["meansOfControlRestrictsMovement"]) == "1" or str(row[1]["meansOfControlExcessiveWorkingHours"]) == "1":
        control_means_list.append('Physical')
    # Categorize by arbitrary grouping of 'Other'
    elif str(row[1]["meansOfControlNotSpecified"]) == "1" or str(row[1]["meansOfControlPsychoactiveSubstances"]) == "1" or str(row[1]["meansOfControlOther"]) == "1":
        control_means_list.append('Other')
    # Insert null value if none of the criteria above are met...
    else:
        # print("None")
        control_means_list.append(np.nan)

In [85]:
# Add a column with our arbitrary category groupings back to the main DataFrame
eda_df["ControlCategory"] = control_means_list
eda_df["ControlCategory"].value_counts()

Other        27384
Threats       4384
Financial     3250
Physical      1749
Survival       220
Name: ControlCategory, dtype: int64

In [86]:
# Duplicate DataFrame and drop columns that we no longer need...
eda1_df = eda_df
eda1_df.drop(["meansOfControlDebtBondage", "meansOfControlTakesEarnings", "meansOfControlRestrictsFinancialAccess"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlThreats", "meansOfControlPsychologicalAbuse", "meansOfControlFalsePromises", "meansOfControlUsesChildren", "meansOfControlThreatOfLawEnforcement"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlRestrictsMedicalCare", "meansOfControlWithholdsNecessities", "meansOfControlWithholdsDocuments"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlPhysicalAbuse", "meansOfControlSexualAbuse", "meansOfControlRestrictsMovement", "meansOfControlExcessiveWorkingHours"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlNotSpecified", "meansOfControlPsychoactiveSubstances", "meansOfControlOther"], axis=1, inplace=True)
eda1_df.drop(["meansOfControlConcatenated"], axis=1, inplace=True)
eda1_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,isSexualExploit,...,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown,ControlCategory
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other

In [87]:
eda1_df.columns

Index(['yearOfRegistration', 'Datasource', 'gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship', 'isForcedLabour', 'isSexualExploit', 'isOtherExploit',
       'isSexAndLabour', 'isForcedMarriage', 'isForcedMilitary',
       'isOrganRemoval', 'isSlaveryAndPractices', 'typeOfExploitConcatenated',
       'typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified', 'typeOfLabourConcatenated',
       'typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices',
       'typeOfSexConcatenated', 'isAbduction', 'RecruiterRelationship',
       'CountryOfExploitation', 'recruiterRelationIntimatePartner',
       'recruiterRelationFriend', 'recruiterRelationFamily',
       'recruiterRelationOther', 'recruiterRelationUnknown',
       'ControlCategory'],
      dtype='object')

## Recruiter Relationship

### Table 2: Recruiter Relationships Categorized
| Original Group | Categorized Group | Data Code |
| ----- | ----- | ----- |
| Not Specified | Not Specified | 1 |
| Other | Other | 2 |
| Not Specified; Other | Other | 2 |
| Friend/Acquaintance | Friend/Acquaintance | 3 |
| Friend/Acquaintance; Not Specified; Other | Friend/Acquaintance | 3 |
| Friend/Acquaintance; Not Specified | Friend/Acquaintance | 3 |
| Friend/Acquaintance; Intimate Partner; Not Specified | Friend/Acquaintance | 3 |
| Friend/Acquaintance; Other | Friend/Acquaintance | 3 |
| Friend/Acquaintance; Intimate Partner | Friend/Acquaintance | 3 |
| Friend/Acquaintance; Intimate Partner; Other | Friend/Acquaintance | 3 |
| Family/Relative | Family/Relative | 4 |
| Family/Relative; Other | Family/Relative | 4 |
| Family/Relative; Not Specified | Family/Relative | 4 |
| Family/Relative; Intimate Partner | Family/Relative | 4 |
| Family/Relative; Friend/Acquaintance | Family/Relative | 4 |
| Family/Relative; Friend/Acquaintance; Other | Family/Relative | 4 |
| Family/Relative; Intimate Partner; Other | Family/Relative | 4 |
| Intimate Partner; Other | Intimate Partner | 5 |
| Intimate Partner; Not Specified | Intimate Partner | 5 |
| Intimate Partner | Intimate Partner | 5 |

In [88]:
# Re-categorize RecruiterRelationship
relation_categories = []
for row in eda1_df.iterrows():
    if row[1]["RecruiterRelationship"] == "Not Specified":
        relation_categories.append('Not Specified')
    elif row[1]["RecruiterRelationship"] == "Not Specified; Other" or row[1]["RecruiterRelationship"] == "Other":
        relation_categories.append('Other')
    elif row[1]["RecruiterRelationship"] == "Friend/Acquaintance" or \
        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified; Other" or \
            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Not Specified" or \
                    row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Other" or \
                        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner" or \
                            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Other":
        relation_categories.append('Friend/Acquaintance')
    elif row[1]["RecruiterRelationship"] == "Family/Relative" or \
        row[1]["RecruiterRelationship"] == "Family/Relative; Other" or \
            row[1]["RecruiterRelationship"] == "Family/Relative; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner" or \
                    row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance" or \
                        row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance; Other" or \
                            row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner; Other":
        relation_categories.append('Family/Relative')
    elif row[1]["RecruiterRelationship"] == "Intimate Partner" or \
        row[1]["RecruiterRelationship"] == "Intimate Partner; Other" or \
            row[1]["RecruiterRelationship"] == "Intimate Partner; Not Specified":
        relation_categories.append('Intimate Partner')
    else:
        relation_categories.append(np.nan)

In [89]:
# Add our revised category listing to our DataFrame
eda1_df["RecruiterCategory"] = relation_categories
eda1_df["RecruiterCategory"].value_counts()

Not Specified          8730
Other                  3883
Friend/Acquaintance    2078
Family/Relative        1879
Intimate Partner       1550
Name: RecruiterCategory, dtype: int64

In [90]:
# Duplicate DataFrame and drop unnecessary recruiter columns
eda2_df = eda1_df
eda2_df.drop(["RecruiterRelationship", "recruiterRelationIntimatePartner", "recruiterRelationFriend", "recruiterRelationFamily", "recruiterRelationOther", "recruiterRelationUnknown"], axis=1, inplace=True)
eda2_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,isSexualExploit,...,typeOfLabourConcatenated,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,ControlCategory,RecruiterCategory
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN

## Type of Exploit

### Table 3: Exploit Types Categorized
| Original Data | Data Code |
| ----- | ----- |
| Sexual exploitation | 1 |
| Forced labour | 2 |
| Other | 3 |
| Slavery and similar practices | 4 |
| Forced marriage | 5 |
| -99 (Unknown) | NaN |

In [91]:
# Re-categorize typeOfExploitConcatenated
exploit_categories = []
for row in eda2_df.iterrows():
    if str(row[1]["typeOfExploitConcatenated"]) == "Sexual exploitation":
        exploit_categories.append('Sexual Exploitation')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced labour":
        exploit_categories.append('Forced Labor')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Other":
        exploit_categories.append('Other')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Slavery and similar practices":
        exploit_categories.append('Slavery and Similar')
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced marriage":
        exploit_categories.append('Forced Marriage')
    elif str(row[1]["typeOfExploitConcatenated"]) == "-99":
        exploit_categories.append(np.nan)
    else:
        exploit_categories.append(3)

In [92]:
# Add re-categorized data to DataFrame
eda2_df["ExploitType"] = exploit_categories

# Duplicate our database
eda3_df = eda2_df

# Drop columns
eda3_df.drop(["typeOfExploitConcatenated", \
                         "isSexualExploit", \
                         "isOtherExploit", \
                         "isSexAndLabour", \
                         "isForcedMarriage", \
                         "isForcedMilitary", \
                         "isOrganRemoval", \
                         "isSlaveryAndPractices"], axis=1, inplace=True)
eda3_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,typeOfLabourAgriculture,...,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,ControlCategory,RecruiterCategory,ExploitType
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual Exploitation

In [93]:
eda3_df["isForcedLabour"].value_counts()

-99    22699
 0     16330
 1      9772
Name: isForcedLabour, dtype: int64

In [94]:
# exploit_recruiter_control_categorized_eda_df.replace({-99: np.nan}, inplace=True)
# exploit_recruiter_control_categorized_eda_df.head()

In [95]:
# exploit_recruiter_control_categorized_eda_df.replace({"-99": np.nan}, inplace=True)
# exploit_recruiter_control_categorized_eda_df.head()

In [96]:
eda3_df.drop(["majorityStatus", "majorityStatusAtExploit", "majorityEntry", \
                    "typeOfSexProstitution", "typeOfSexPornography", "typeOfSexRemoteInteractiveServices", \
                        "typeOfSexPrivateSexualServices", "typeOfSexConcatenated", "isAbduction", "CountryOfExploitation"], axis=1, inplace=True)

## Type of Exploit

### Table 3: Exploit Types Categorized
| Original Data | Data Code |
| ----- | ----- |
| typeOfLabourAgriculture | 1 |
| typeOfLabourAquafarming | 2 |
| typeOfLabourBegging | 3 |
| typeOfLabourConstruction | 4 |
| typeOfLabourDomesticWork | 5 |
| typeOfLabourHospitality | 6 |
| typeOfLabourIllicitActivities | 7 |
| typeOfLabourManufacturing | 8 |
| typeOfLabourMiningOrDrilling | 9 |
| typeOfLabourPeddling | 10 |
| typeOfLabourTransportation | 11 |
| typeOfLabourOther | 12 |
| typeOfLabourNotSpecified | 12 |

In [97]:
# Unite the 'typeOf' columns to a single column
labor_types = []
for row in eda3_df.iterrows():
    if row[1]["typeOfLabourAgriculture"] == 1:
        labor_types.append('Agriculture')
    elif row[1]["typeOfLabourAquafarming"] == 1:
        labor_types.append('Aquafarming')
    elif row[1]["typeOfLabourBegging"] == 1:
        labor_types.append('Begging')
    elif row[1]["typeOfLabourConstruction"] == 1:
        labor_types.append('Construction')
    elif row[1]["typeOfLabourDomesticWork"] == 1:
        labor_types.append('Domestic Work')
    elif row[1]["typeOfLabourHospitality"] == 1:
        labor_types.append('Hopitality')
    elif row[1]["typeOfLabourIllicitActivities"] == 1:
        labor_types.append('Illicit Activities')
    elif row[1]["typeOfLabourManufacturing"] == 1:
        labor_types.append('Manufacturing')
    elif row[1]["typeOfLabourMiningOrDrilling"] == 1:
        labor_types.append('Mining or Drilling')
    elif row[1]["typeOfLabourPeddling"] == 1:
        labor_types.append('Peddling')
    elif row[1]["typeOfLabourTransportation"] == 1:
        labor_types.append('Transportation')
    elif row[1]["typeOfLabourOther"] == 1 or row[1]["typeOfLabourNotSpecified"] == 1:
        labor_types.append('Other')
    else:
        labor_types.append(12)

In [98]:
# Add labor categories to our DataFrame
eda3_df["Labor_Type"] = labor_types
eda3_df["Labor_Type"].value_counts()

12               42552
Domestic Work     2744
Construction      1254
Other             1236
Manufacturing      453
Agriculture        152
Begging            149
Aquafarming        107
Hopitality          82
Peddling            72
Name: Labor_Type, dtype: int64

In [99]:
# Copy DataFrame
eda4_df = eda3_df

# Drop columns we won't need any longer
eda4_df.drop(["typeOfLabourAgriculture", "typeOfLabourAquafarming", \
              "typeOfLabourBegging", "typeOfLabourConstruction", \
              "typeOfLabourDomesticWork", "typeOfLabourHospitality", \
              "typeOfLabourIllicitActivities", "typeOfLabourManufacturing", \
              "typeOfLabourMiningOrDrilling", "typeOfLabourPeddling", \
              "typeOfLabourTransportation", "typeOfLabourOther", \
              "typeOfLabourNotSpecified", "typeOfLabourConcatenated"], axis=1, inplace=True)

eda4_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,citizenship,isForcedLabour,ControlCategory,RecruiterCategory,ExploitType,Labor_Type
0,2002,Case Management,Female,18--20,CO,0,Other,NaN,Sexual Exploitation,12
1,2002,Case Management,Female,18--20,CO,0,Other,NaN,Sexual Exploitation,12
2,2002,Case Management,Female,18--20,CO,0,Other,NaN,Sexual Exploitation,12
3,2002,Case Management,Female,18--20,CO,0,Other,NaN,Sexual Exploitation,12
4,2002,Case Management,Female,18--20,CO,0,Other,NaN,Sexual Exploitation,12

In [100]:
age_categories = []
for row in eda4_df.iterrows():
    if str(row[1]["ageBroad"]) == "0--8":
        age_categories.append('Age 0-8')
    elif str(row[1]["ageBroad"]) == "9--17":
        age_categories.append('Age 9-17')
    elif str(row[1]["ageBroad"]) == "18--20":
        age_categories.append('Age 18-20')
    elif str(row[1]["ageBroad"]) == "21--23":
        age_categories.append('Age 21-23')
    elif str(row[1]["ageBroad"]) == "24--26":
        age_categories.append('Age 24-26')
    elif str(row[1]["ageBroad"]) == "27--29":
        age_categories.append('Age 27-29')
    elif str(row[1]["ageBroad"]) == "30--38":
        age_categories.append('Age 30-38')
    elif str(row[1]["ageBroad"]) == "39--47":
        age_categories.append('Age 39-47')
    elif str(row[1]["ageBroad"]) == "48+":
        age_categories.append('Age 48+')
    else:
        age_categories.append(np.nan)

eda4_df["ageCategories"] = age_categories
eda4_df.drop(["ageBroad"], axis=1, inplace=True)
eda4_df.head()

,yearOfRegistration,Datasource,gender,citizenship,isForcedLabour,ControlCategory,RecruiterCategory,ExploitType,Labor_Type,ageCategories
0,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,12,Age 18-20
1,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,12,Age 18-20
2,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,12,Age 18-20
3,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,12,Age 18-20
4,2002,Case Management,Female,CO,0,Other,NaN,Sexual Exploitation,12,Age 18-20

In [101]:
eda4_df["citizenship"].unique()

array(['CO', 'MD', 'RO', 'UA', 'BY', 'GH', 'AL', 'BG', 'UZ', 'ID', 'TJ',
       'CD', 'ML', 'GW', 'CI', 'SN', 'SL', 'KG', 'GN', 'KH', 'LA', 'KZ',
       'TM', 'BF', 'NE', 'HT', 'LK', 'BO', 'MM', 'AF', 'UG', 'ER', 'NG',
       'NP', 'PH', 'BD', '0', 'US', '-99', 'TH', 'KR', 'VN', 'KE', 'CN',
       'MX', 'MG'], dtype=object)

In [102]:
# eda4_df.replace({'citizenship': {'CO': 1, \
#     'MD': 2, 'RO': 3, 'UA': 4, 'BY': 5, \
#         'GH': 6, 'AL': 7, 'BG': 8, 'UZ': 9, \
#             'ID': 10, 'TJ': 11, 'CD': 12, 'ML': 13, \
#                 'GW': 14, 'CI': 15, 'SN': 16, 'SL': 17, \
#                     'KG': 18, 'GN': 19, 'KH': 20, 'LA': 21, \
#                         'KZ': 22, 'TM': 23, 'BF': 24, 'NE': 25, \
#                             'HT': 26, 'LK': 27, 'BO': 28, 'MM': 29, \
#                                 'AF': 30, 'UG': 31, 'ER': 32, 'NG': 33, \
#                                     'NP': 34, 'PH': 35, 'BD': 36, '0': np.nan, \
#                                         'US': 37, '-99': np.nan, 'TH': 38, 'KR': 39, \
#                                             'VN': 40, 'KE': 41, 'CN': 42, 'MX': 43, 'MG': 44}}, inplace=True)

# eda4_df.head()

In [103]:
eda4_df["gender"].unique()

array(['Female', 'Male'], dtype=object)

In [104]:
# eda4_df.replace({'gender': {'Female': 1, 'Male': 0}}, inplace=True)
# eda4_df.head()

In [105]:
eda4_df["Datasource"].unique()

array(['Case Management', 'Hotline'], dtype=object)

In [106]:
# eda4_df.replace({'Datasource': {'Case Management': 1, 'Hotline': 0}}, inplace=True)
# eda4_df.head()

In [107]:
eda4_df.dtypes

yearOfRegistration     int64
Datasource            object
gender                object
citizenship           object
isForcedLabour         int64
ControlCategory       object
RecruiterCategory     object
ExploitType           object
Labor_Type            object
ageCategories         object
dtype: object

In [108]:
eda4_df.shape

(48801, 10)

In [109]:
eda5_df = eda4_df.dropna()
eda5_df.shape

(14299, 10)

In [110]:
eda5_df.dtypes

yearOfRegistration     int64
Datasource            object
gender                object
citizenship           object
isForcedLabour         int64
ControlCategory       object
RecruiterCategory     object
ExploitType           object
Labor_Type            object
ageCategories         object
dtype: object

In [111]:
# eda5_df["citizenship"] = eda5_df["citizenship"].apply(np.int64)
# eda5_df["ControlCategory"] = eda5_df["ControlCategory"].apply(np.int64)
# eda5_df["RecruiterCategory"] = eda5_df["RecruiterCategory"].apply(np.int64)
# eda5_df["ExploitType"] = eda5_df["ExploitType"].apply(np.int64)
# eda5_df["ageCategories"] = eda5_df["ageCategories"].apply(np.int64)
# eda5_df.dtypes

In [112]:
# Export eda5 DataFrame to csv
eda5_df.to_csv(os.path.join("../Exports", "eda5b.csv"), index=False)