In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Import Polaris dataset downloaded...
eda_df = pd.read_csv(os.path.join("Potential_Data", "global_dataset_14_Apr_2020.csv"), header=0)
print(eda_df.shape)
eda_df.head()

(48801, 63)

C:\Users\mrm\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (54) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1

## Feature Engineering

### Table 1: Data Category Groupings
| Grouped Category | Data Category | Data Code |
| ----- | ----- | ----- |
| Financial | meansOfControlDebtBondage  | 1 |
| Financial | meansOfControlTakesEarnings | 1 |
| Financial | meansOfControlRestrictsFinancialAccess | 1 |
| Threats | meansOfControlThreats | 2 |
| Threats | meansOfControlPsychologicalAbuse | 2 |
| Threats | meansOfControlFalsePromises | 2 |
| Threats | meansOfControlUsesChildren | 2 |
| Threats | meansOfControlThreatOfLawEnforcement | 2 |
| Survival | meansOfControlRestrictsMedicalCare | 3 |
| Survival | meansOfControlWithholdsNecessities | 3 |
| Survival | meansOfControlWithholdsDocuments | 3 |
| Physical | meansOfControlPhysicalAbuse | 4 |
| Physical | meansOfControlSexualAbuse | 4 |
| Physical | meansOfControlRestrictsMovement | 4 |
| Physical | meansOfControlExcessiveWorkingHours | 4 |
| Other | meansOfControlOther | 5 |
| Other | meansOfControlNotSpecified | 5 |
| Other | meansOfControlPsychoactiveSubstances | 5 |

In [3]:
# Categorize by type of control, groupings arbitrary
control_means_list = []
for row in eda_df.iterrows():
# for row in eda_subset_df.iterrows():
    # Categorize by arbitrary grouping of 'Financial'
    if str(row[1]["meansOfControlDebtBondage"]) == "1" or str(row[1]["meansOfControlTakesEarnings"]) == "1" or str(row[1]["meansOfControlRestrictsFinancialAccess"]) == "1":
        control_means_list.append("Financial")
    # Categorize by arbitrary grouping of 'Threats'
    elif str(row[1]["meansOfControlThreats"]) == "1" or str(row[1]["meansOfControlPsychologicalAbuse"]) == "1" or str(row[1]["meansOfControlFalsePromises"]) == "1" or str(row[1]["meansOfControlUsesChildren"]) == "1" or str(row[1]["meansOfControlThreatOfLawEnforcement"]) == "1":
        control_means_list.append("Threats")
    # Categorize by arbitrary grouping of 'Survival'
    elif str(row[1]["meansOfControlRestrictsMedicalCare"]) == "1" or str(row[1]["meansOfControlWithholdsNecessities"]) == "1" or str(row[1]["meansOfControlWithholdsDocuments"]) == "1":
        control_means_list.append("Survival")
    # Categorize by arbitrary grouping of 'Physical'
    elif str(row[1]["meansOfControlPhysicalAbuse"]) == "1" or str(row[1]["meansOfControlSexualAbuse"]) == "1" or str(row[1]["meansOfControlRestrictsMovement"]) == "1" or str(row[1]["meansOfControlExcessiveWorkingHours"]) == "1":
        control_means_list.append("Physical")
    # Categorize by arbitrary grouping of 'Other'
    elif str(row[1]["meansOfControlNotSpecified"]) == "1" or str(row[1]["meansOfControlPsychoactiveSubstances"]) == "1" or str(row[1]["meansOfControlOther"]) == "1":
        control_means_list.append("Other")
    # Insert null value if none of the criteria above are met...
    else:
        # print("None")
        control_means_list.append(np.nan)

In [4]:
# Add a column with our arbitrary category groupings back to the main DataFrame
eda_df["control_category"] = control_means_list
eda_df["control_category"].value_counts()

Other        27384
Threats       4384
Financial     3250
Physical      1749
Survival       220
Name: control_category, dtype: int64

In [5]:
# Duplicate DataFrame and drop columns that we no longer need...
controls_categorized_df = eda_df
controls_categorized_df.drop(["meansOfControlDebtBondage", \
                         "meansOfControlTakesEarnings", \
                         "meansOfControlRestrictsFinancialAccess", \
                         "meansOfControlThreats", \
                         "meansOfControlPsychologicalAbuse", \
                         "meansOfControlFalsePromises", \
                         "meansOfControlUsesChildren", \
                         "meansOfControlThreatOfLawEnforcement", \
                         "meansOfControlRestrictsMedicalCare", \
                         "meansOfControlWithholdsNecessities", \
                         "meansOfControlWithholdsDocuments", \
                         "meansOfControlPhysicalAbuse", \
                         "meansOfControlSexualAbuse", \
                         "meansOfControlRestrictsMovement", \
                         "meansOfControlExcessiveWorkingHours", \
                         "meansOfControlNotSpecified", \
                         "meansOfControlPsychoactiveSubstances", \
                         "meansOfControlOther", \
                         "meansOfControlConcatenated"], axis=1, inplace=True)

print(controls_categorized_df.shape)
controls_categorized_df.head()

(48801, 45)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,isSexualExploit,...,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown,control_category
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,0,0,0,0,1,Other

### Table 2: Recruiter Relationships Categorized
| Original Group | Categorized Group |
| ----- | ----- |
| Not Specified | Not Specified |
| Other | Other |
| Not Specified; Other | Other |
| Friend/Acquaintance | Friend/Acquaintance |
| Friend/Acquaintance; Not Specified; Other | Friend/Acquaintance |
| Friend/Acquaintance; Not Specified | Friend/Acquaintance |
| Friend/Acquaintance; Intimate Partner; Not Specified | Friend/Acquaintance |
| Friend/Acquaintance; Other | Friend/Acquaintance |
| Friend/Acquaintance; Intimate Partner | Friend/Acquaintance |
| Friend/Acquaintance; Intimate Partner; Other | Friend/Acquaintance |
| Family/Relative | Family/Relative |
| Family/Relative; Other | Family/Relative |
| Family/Relative; Not Specified | Family/Relative |
| Family/Relative; Intimate Partner | Family/Relative |
| Family/Relative; Friend/Acquaintance | Family/Relative |
| Family/Relative; Friend/Acquaintance; Other | Family/Relative |
| Family/Relative; Intimate Partner; Other | Family/Relative |
| Intimate Partner; Other | Intimate Partner |
| Intimate Partner; Not Specified | Intimate Partner |
| Intimate Partner | Intimate Partner |

In [6]:
# Re-categorize RecruiterRelationship
relation_categories = []
for row in controls_categorized_df.iterrows():
    if row[1]["RecruiterRelationship"] == "Not Specified; Other" or row[1]["RecruiterRelationship"] == "Other":
        relation_categories.append("Other")
    elif row[1]["RecruiterRelationship"] == "Friend/Acquaintance" or \
        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified; Other" or \
            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Not Specified" or \
                    row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Other" or \
                        row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner" or \
                            row[1]["RecruiterRelationship"] == "Friend/Acquaintance; Intimate Partner; Other":
        relation_categories.append("Friend/Acquaintance")
    elif row[1]["RecruiterRelationship"] == "Family/Relative" or \
        row[1]["RecruiterRelationship"] == "Family/Relative; Other" or \
            row[1]["RecruiterRelationship"] == "Family/Relative; Not Specified" or \
                row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner" or \
                    row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance" or \
                        row[1]["RecruiterRelationship"] == "Family/Relative; Friend/Acquaintance; Other" or \
                            row[1]["RecruiterRelationship"] == "Family/Relative; Intimate Partner; Other":
        relation_categories.append("Family/Relative")
    elif row[1]["RecruiterRelationship"] == "Intimate Partner" or \
        row[1]["RecruiterRelationship"] == "Intimate Partner; Other" or \
            row[1]["RecruiterRelationship"] == "Intimate Partner; Not Specified":
        relation_categories.append("Intimate Partner")
    else:
        relation_categories.append(np.nan)

In [7]:
# Add our revised category listing to our DataFrame
controls_categorized_df["RecruiterCategory"] = relation_categories
controls_categorized_df["RecruiterCategory"].value_counts()

Other                  3883
Friend/Acquaintance    2078
Family/Relative        1879
Intimate Partner       1550
Name: RecruiterCategory, dtype: int64

In [8]:
# Duplicate DataFrame and drop columns that we no longer need...
recruiter_controls_categorized_df = controls_categorized_df

# Drop unnecessary recruiter columns
recruiter_controls_categorized_df.drop(["RecruiterRelationship", \
                         "recruiterRelationIntimatePartner", \
                         "recruiterRelationFriend", \
                         "recruiterRelationFamily", \
                         "recruiterRelationOther", \
                         "recruiterRelationUnknown"], axis=1, inplace=True)
print(recruiter_controls_categorized_df.shape)
recruiter_controls_categorized_df.head()

(48801, 40)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,isForcedLabour,isSexualExploit,...,typeOfLabourConcatenated,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,control_category,RecruiterCategory
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,0,1,...,-99,-99,-99,-99,-99,-99,-99,-99,Other,NaN

In [9]:
# Re-categorize typeOfExploitConcatenated
exploit_categories = []
for row in recruiter_controls_categorized_df.iterrows():
    if str(row[1]["typeOfExploitConcatenated"]) == "Sexual exploitation":
        exploit_categories.append("Sexual")
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced labour":
        exploit_categories.append("Labor")
    elif str(row[1]["typeOfExploitConcatenated"]) == "Other":
        exploit_categories.append("Other")
    elif str(row[1]["typeOfExploitConcatenated"]) == "Slavery and similar practices":
        exploit_categories.append("Slavery/Similar")
    elif str(row[1]["typeOfExploitConcatenated"]) == "Forced marriage":
        exploit_categories.append("Forced Marriage")
    elif str(row[1]["typeOfExploitConcatenated"]) == "-99":
        exploit_categories.append(np.nan)
    else:
        exploit_categories.append("Multiple")

In [10]:
# Add re-categorized data to DataFrame
recruiter_controls_categorized_df["ExploitType"] = exploit_categories

# Duplicate
exploit_recruiter_controls_categorized_df = recruiter_controls_categorized_df

# Drop columns
exploit_recruiter_controls_categorized_df.drop(["typeOfExploitConcatenated", \
                         "isForcedLabour", \
                         "isSexualExploit", \
                         "isOtherExploit", \
                         "isSexAndLabour", \
                         "isForcedMarriage", \
                         "isForcedMilitary", \
                         "isOrganRemoval", \
                         "isSlaveryAndPractices"], axis=1, inplace=True)
print(exploit_recruiter_controls_categorized_df.shape)
exploit_recruiter_controls_categorized_df.head()

(48801, 32)

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,typeOfLabourAgriculture,typeOfLabourAquafarming,...,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,CountryOfExploitation,control_category,RecruiterCategory,ExploitType
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,Other,NaN,Sexual

In [11]:
exploit_recruiter_controls_categorized_df["typeOfLabourConcatenated"].value_counts()

-99                            42552
Domestic work                   2721
Construction                    1251
Not specified                   1097
Manufacturing                    453
Agriculture                      149
Begging                          149
Aquafarming                      107
Hospitality                       82
Other                             77
Peddling                          72
Other;Not specified               62
Domestic work;Other               22
Construction;Not specified         3
Agriculture;Not specified          3
Domestic work;Not specified        1
Name: typeOfLabourConcatenated, dtype: int64

In [12]:
# Re-categorize typeOfLabourConcatenated
exploit_recruiter_controls_categorized_df.replace({'typeOfLabourConcatenated': {"-99": np.nan, \
                                                                              "Other;Not specified": "Other", \
                                                                              "Domestic work;Other": "Domestic work", \
                                                                              "Agriculture;Not specified": "Agriculture", \
                                                                              "Construction;Not specified": "Construction", \
                                                                              "Domestic work;Not specified": "Domestic work"}}, \
                                                 inplace=True)

exploit_recruiter_controls_categorized_df["typeOfLabourConcatenated"].value_counts()

Domestic work    2744
Construction     1254
Not specified    1097
Manufacturing     453
Agriculture       152
Begging           149
Other             139
Aquafarming       107
Hospitality        82
Peddling           72
Name: typeOfLabourConcatenated, dtype: int64

In [13]:
exploit_recruiter_controls_categorized_df.drop(["majorityStatus", "majorityStatusAtExploit", "majorityEntry", \
    "typeOfLabourAgriculture", "typeOfLabourAquafarming", "typeOfLabourBegging", \
        "typeOfLabourConstruction", "typeOfLabourDomesticWork", "typeOfLabourHospitality", \
            "typeOfLabourIllicitActivities", "typeOfLabourManufacturing", "typeOfLabourMiningOrDrilling", \
                "typeOfLabourPeddling", "typeOfLabourTransportation", "typeOfLabourOther", "typeOfLabourNotSpecified", \
                    "typeOfSexProstitution", "typeOfSexPornography", "typeOfSexRemoteInteractiveServices", \
                        "typeOfSexPrivateSexualServices", "typeOfSexConcatenated", "isAbduction", "CountryOfExploitation"], axis=1, inplace=True)                        
print(exploit_recruiter_controls_categorized_df.shape)
exploit_recruiter_controls_categorized_df.head()

(48801, 9)

,yearOfRegistration,Datasource,gender,ageBroad,citizenship,typeOfLabourConcatenated,control_category,RecruiterCategory,ExploitType
0,2002,Case Management,Female,18--20,CO,NaN,Other,NaN,Sexual
1,2002,Case Management,Female,18--20,CO,NaN,Other,NaN,Sexual
2,2002,Case Management,Female,18--20,CO,NaN,Other,NaN,Sexual
3,2002,Case Management,Female,18--20,CO,NaN,Other,NaN,Sexual
4,2002,Case Management,Female,18--20,CO,NaN,Other,NaN,Sexual

In [14]:
exploit_recruiter_controls_categorized_df.dropna()

,yearOfRegistration,Datasource,gender,ageBroad,citizenship,typeOfLabourConcatenated,control_category,RecruiterCategory,ExploitType
9840,2012,Case Management,Female,30--38,LK,Domestic work,Threats,Other,Labor
9842,2012,Case Management,Female,30--38,LK,Domestic work,Financial,Other,Labor
9843,2012,Case Management,Female,30--38,LK,Domestic work,Threats,Other,Labor
9844,2012,Case Management,Female,30--38,LK,Domestic work,Financial,Other,Labor
9845,2012,Case Management,Female,30--38,LK,Domestic work,Financial,Other,Labor
...,...,...,...,...,...,...,...,...,...
42850,2017,Hotline,Male,21--23,MX,Agriculture,Financial,Other,Labor
42851,2017,Hotline,Male,21--23,MX,Agriculture,Financial,Other,Labor
42852,2017,Hotline,Male,21--23,MX,Agriculture,Financial,Other,Labor
42933,2017,Hotline,Male,9--17,0,Peddling,Other,Other,Labor
48309,2018,Hotline,Female,9--17,0,Not specified,Threats,Other,Multiple

In [15]:
exploit_recruiter_controls_categorized_df['citizenship'].value_counts()

PH     11365
0       8858
UA      7761
MD      5901
US      3636
KH      1979
ID      1971
BY      1463
MM      1250
RO       655
GH       544
KG       437
BG       342
HT       339
-99      278
UZ       261
VN       170
GW       145
LA       126
CO       124
NG       108
UG        98
AF        97
MG        94
LK        85
SL        81
SN        70
TH        55
KZ        54
CD        53
ML        45
TJ        43
BF        33
KE        32
CI        31
NE        31
NP        27
TM        26
CN        23
AL        22
MX        19
BO        18
GN        15
ER        13
KR        12
BD        11
Name: citizenship, dtype: int64